/*FONTS*/
@import "fonts"
/*FONTS END*/
@import "libs"
@import "vars"

/*GENERAL STYLES*/
*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: $sub-color
	opacity: 1

*:-moz-placeholder
	color: $sub-color
	opacity: 1

*::-moz-placeholder
	color: $sub-color
	opacity: 1

*:-ms-input-placeholder
	color: $sub-color
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: $sub-color
body input:required:valid,
body textarea:required:valid
	color: $sub-color

// html, body
// 	height: 100%

body
	max-width: 1920px
	min-width: 320px
	margin: 0 auto
	position: relative
	font: 16px/1.4 $medium-font-family
	background-color: #fff
	overflow-x: hidden

.container
	width: 100%
	margin: 0 auto
	padding: 0 12px
	&::before, &::after
		content: ' '
		display: table
	&::after
		clear: both

.img-responsive
	display: block
	max-width: 100%
	height: auto

.nowrap
	white-space: nowrap

.text-center
	text-align: center

::selection
	background-color: $accent-color
	color: #fff

.hidden
	visibility: hidden

.clearfix
	&::before, &::after
		content: ' '
		display: table
	&::after
		clear: both
		
.item
	float: left

// fix font numbers rendering
span.fix-render
	font-size: 1.35em 
	line-height: 0


.checkbox 
	cursor: pointer
	vertical-align: top
	font-size: 0

	.checkbox-hidden
		display: none

	.checkbox-wrap
		display: inline-block
		vertical-align: middle
		width: 26px
		height: 26px
		box-sizing: border-box
		flex: 0 0 26px

	.checkbox-pseudo
		display: block
		width: 100%
		height: 100%
		border-radius: 4px
		border: 2px solid rgba($sub-color, .3)
		box-sizing: border-box
		background-color: #fff
		position: relative
		transition: background .2s ease-out,border .2s ease-out

	.checkbox-check 
		position: absolute
		top: 5px
		left: 4px
		stroke: #fff
		stroke-dasharray: 19px
		stroke-dashoffset: 20px
		transition: .2s ease-out

	.checkbox-text
		display: inline-block
		vertical-align: middle
		color: #000
		font-family: $regular-font-family
		font-size: 17px
		font-weight: 500
		line-height: 24px
		margin-left: 15px
		a 
			color: $accent-color
			text-decoration: underline
			&:hover
				text-decoration: none

.checkbox 
	input[type=checkbox]
		&:checked
			+ .checkbox-wrap
				.checkbox-pseudo
					.checkbox-check
						stroke-dashoffset: 38px

.cd-checkbox
	&:hover 
		.checkbox-text
			color: #199b40

.mfp-close
	top: 5px
	right: 5px
	width: 28px
	height: 28px
	line-height: 28px
	background: url('../img/close.png') no-repeat 50% 50%
	background-size: 100%
	&:hover
		cursor: pointer
	&:active
		top: 4px

/*GENERAL STYLES END*/



/*STYLES START*/

/* HEADER STYLES START */
.header
	padding-top: 34px
	.container
		display: flex
		align-items: center
	&-item1
		width: 39%
	&-item2
		width: 61%
	&-logo
		&-text
			display: block
			font: 2.5rem $black-font-family
			text-transform: uppercase
			color: $accent-color
		&-descr
			display: block
			font: 1rem $medium-font-family
			color: #9a9a9a

	&-nav
		&-links
			width: 100%
			display: flex
			justify-content: space-between
			margin: 0
			padding: 0
			list-style-type: none			
		&-link
			display: block
			font: 1.125rem $bold-font-family
			color: $sub-color
			text-transform: uppercase
			text-decoration: none
			transition: all .3s
			&:hover
				color: #b2c747 
				cursor: pointer
				transition: all .3s
				
@supports (-webkit-background-clip: text)
	.header-logo-text
		background-image: $accent-gradient
		background-position: 0 3px
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		&::selection
			-webkit-background-clip: border-box
			-webkit-text-fill-color: #fff
/* HEADER STYLES END */


/* SECTION INTRO STYLES START */
.intro
	position: relative
	margin-top: 20px
	padding: 100px 0 118px
	background: url('../img/top-bg.png') no-repeat 50% 0
	&::before
		content: ''
		display: block
		width: 100%
		height: 77px
		position: absolute
		left: 0
		top: -28px
		background: url('../img/line.png') no-repeat 0 0
		z-index: 0

	&-block
		max-width: 55%
		padding: 0.4rem 2.5rem
		background: rgba(#fff,.5)
	&-title
		font: 2.875rem $black-font-family // 46/16
		text-transform: uppercase
		color: $sub-color
		&-accent
			color: $accent-color
	&-text
		margin-bottom: 2rem
		font: 1rem $regular-font-family
		color: #323232
		&-accent
			color: #121212
			font-family: $medium-font-family
	&-call
		width: 148px
		height: 148px
		box-shadow: 0px 0px 5px rgba(0, 0, 0, .44)
		border-radius: 50%
		background-image: linear-gradient( 4deg, rgb(206,228,91), rgb(158,178,55) )
		position: absolute
		bottom: 66px
		right: 8%
		transition: all .3s
		&:hover
			cursor: pointer
			transform: scale(1.05)
			transition: all .3s
		&:active
			transform: scale(1.05) translate(3px, 3px)
			transition: all .1s
		&-inner
			display: table
			width: 134px
			height: 134px
			border-radius: 50%
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			box-shadow: 0px 0px 5px rgba(0, 0, 0, .44)
		&-text
			display: table-cell
			vertical-align: middle
			font: 1.125rem/1.6 $exbold-font-family
			color: #fff
			text-transform: uppercase
			text-align: center
/* SECTION INTRO STYLES END */




/* BLOCK FORM STYLES START */
.form
	&-range
		padding: 3rem 0 4.5rem
		position: relative
		&::before
			content: ''
			display: block
			width: 100%
			height: 29px
			position: absolute
			left: 0
			bottom: 0
			background: url('../img/cursive-line.png') no-repeat 0 0
			z-index: 0
		&-title
			display: inline-block
			width: 25%
			font: 1.625rem $black-font-family
			color: $sub-color
			text-transform: uppercase

		&-inner
			display: flex
			align-items: center

		&-label
			position: relative
			display: inline-block
			width: 50%
			height: 50px
			margin: 0 50px
			text-align: center
		&-line
			position: relative
			width: 100%
			height: 11px
			border-radius: 30px
			background-color: #f0f0f0
			&-quantity
				width: 0
				height: 11px
				position: absolute
				left: 0
				top: 0
				background: $accent-color
				border-top-left-radius: 30px
				border-bottom-left-radius: 30px
			span
				position: absolute
				left: 0
				transform: translateX(-50%)
				top: -4px
				display: inline-block
				width: 20px
				height: 20px
				background-color: $sub-color
				border-radius: 50%
				outline: none
				cursor: move
		&-input
			display: inline-block
			padding: 3px
			margin: 0 5px 0 0
			width: 120px
			border: none
			font: 1.5rem $bold-font-family
			text-align: center
			outline: none
			box-shadow: 0 2px 5px rgba(0,0,0, 0.1)

		&-min, &-val, &-max
			position: absolute
			font: .8rem $bold-font-family
			.fix-render
				font: 1.5em $black-font-family
		&-min, &-max
			bottom: -3px
			color: $accent-color
		&-min
			left: 0
		&-max
			right: 0
		&-val
			bottom: -10px
			left: 50%
			transform: translateX(-42%)
			color: $sub-color

	&-period-select
		width: 20%
		margin-left: 3%

	.my-select-wrapper
		width: 100%
		position: relative
		user-select: none
		border: 2px solid #d3dca5
		border-radius: 5px
		select
			display: none

	.my-select
		position: relative

	.my-select-trigger
		position: relative
		height: 47px
		display: flex
		align-items: center
		padding: 0 40px 0 15px
		font: 20px $book-font-family
		line-height: 47px
		background: #fff
		color: $accent-color
		border-top-left-radius: 4px
		border-bottom-left-radius: 4px
		cursor: pointer
		&:focus,&:active
			box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.1), inset 0 0 5px rgba(#000,.15)
		&:after
			position: absolute
			display: block
			content: ''
			width: 10px
			height: 10px
			top: 50%
			right: 25px
			margin-top: -3px
			border-bottom: 3px solid rgba($sub-color, .3)
			border-right: 3px solid rgba($sub-color, .3)
			transform: rotate(45deg) translateY(-50%)
			transition: all .2s ease-in-out
			transform-origin: 50% 0

	.my-select.opened
		.my-select-trigger:after
			margin-top: 3px
			transform: rotate(-135deg) translateY(-50%)
			border-bottom: 3px solid rgba($sub-color, .3)
			border-right: 3px solid rgba($sub-color, .3)

	.my-options
		position: absolute
		display: block
		height: 300px
		overflow-y: auto
		top: 100%
		left: 0
		right: 0
		min-width: 100%
		margin: 15px 0
		border: 1px solid $accent-color
		border-radius: 4px
		background: #fff
		transition: all .2s ease-in-out
		opacity: 0
		visibility: hidden
		pointer-events: none
		transform: translateY(-15px)
		z-index: 1

	.my-select.opened
		.my-options
			opacity: 1
			visibility: visible
			pointer-events: all
			transform: translateY(0)

	.my-option
		position: relative
		display: block
		padding: 10px 30px
		border-bottom: 1px solid $accent-color
		font: 16px $book-font-family
		color: $accent-color
		cursor: pointer
		transition: all .2s ease-in-out
		&:first-of-type
			border-radius: 4px 4px 0 0
		&:last-of-type
			border-bottom: 0
			border-radius: 0 0 4px 4px
		&:hover, &.selection
			background: rgba($accent-color,.1)

	&-block
		max-width: 905px
		min-height: 730px
		margin: 0 auto
		padding: 50px 0
		.item
			padding: 0 15px
		.my-select-wrapper
			margin-top: 10px
			border-color: rgba($sub-color, .3)
		.my-select-trigger
			height: 44px
			line-height: 44px
			color: $sub-color
			text-transform: uppercase
			
		&-row
			margin-left: -15px
			margin-right: -15px
			margin-bottom: 25px
			&.mb-0
				margin-bottom: 0
		&-item
			width: 100%
			padding: 0 15px
		&-item4
			width: 33%
		&-item8
			width: 66%

		&-label
			font: 18px $regular-font-family
			color: #000
				
		&-required
			color: #e82e2e
		&-input
			display: inline-block
			width: 100%
			height: 44px
			margin-top: 10px
			padding: 0 15px
			border-radius: 5px
			border: 2px solid rgba($sub-color, .3)
			font: 20px $book-font-family
			&:focus
				outline: none
				border: 2px solid rgba($accent-color, .5)
		&-docs
			height: 44px
			margin-top: 10px
			display: flex
			align-items: center
		&-doc2
			margin-left: 50px

		&-button
			position: relative
			display: block
			width: 200px
			height: 44px
			margin-top: 10px
			text-align: center
			font: 14px $exbold-font-family
			color: $accent-color
			background-color: #fff
			text-transform: uppercase
			border: 2px solid $accent-color
			border-radius: 5px
			outline: none
			&:hover
				cursor: pointer
			&:active
				transform: translate(1px, 1px)
				background-color: #fff
				
			
@supports (-webkit-background-clip: text)
	.form-block-button
		border: 2px solid transparent
		background-clip: padding-box
		&::before
			content: ''
			position: absolute
			top: -2px
			bottom: -2px
			left: -2px
			right: -2px
			background: $accent-gradient
			z-index: -1
			border-radius: 5px
			transition: all .5s
		&:hover
			&::before
				background-position: 200px 0
				transition: all .5s
		&:active
			color: #fff

.input-code
	margin-top: 20px
	&-info
		font: 14px $book-font-family
#input-code
	display: none
.form
	.form-sub-color
		color: rgba($sub-color, .5)

.form-submit-wrap
	margin-top: 45px
	text-align: center
.form-submit
	display: inline-block
	width: 262px
	padding: 20px 0
	font: 18px $exbold-font-family
	text-transform: uppercase
	text-align: center
	color: #fff
	background: $accent-gradient
	border-radius: 5px
	border: none
	outline: none
	box-shadow: 0 -4px 15px 0.15px rgba(20, 163, 243, 0.16)
	transition: all .3s
	&:hover
		cursor: pointer
		background: linear-gradient(270deg, #cee45b, #9eb237)
		transition: all .3s
	&:active
		transform: translate(1px, 1px)
	&:focus
		box-shadow: 0 0px 6px 2px rgba($accent-color, .6)

/* BLOCK FORM STYLES END */






/* SECTION HOW STYLES START */
.how
	padding: 25px 0 50px
	background: $accent-color $accent-gradient
	color: #fff
	text-transform: uppercase
	&-item1
		position: relative
		left: -38%
		width: 62%
	&-title
		width: 62%
		font: 2.875rem $black-font-family // 46/16
		text-align: center
	&-list
		margin-top: 62px
		padding: 0
		font-size: 0
		text-align: center
		&-item
			display: inline-block
			width: 32.5%
			min-height: 211px
			margin: 0 auto 15px
			font-size: 1rem
			vertical-align: top
			&-img
				width: 127px
				height: 127px
				margin: 0 auto
				border: 2px dashed #fff
				border-radius: 50%
				position: relative
				&::before
					content: ''
					display: block
					width: 57px
					height: 57px
					position: absolute
					top: 50%
					left: 50%
					transform: translate(-50%, -50%)
					background: url('../img/icon-sprite.png') no-repeat
					z-index: 0
				&-1
					&::before
						background-position: 8px 50%
				&-2
					&::before
						background-position: -49px 50%
				&-3
					&::before
						background-position: -106px 50%
				&-4
					&::before
						background-position: -167px 50%
				&-5
					&::before
						background-position: -232px 50%
			&-text
				min-height: 51px
				margin-top: 30px
				font-family: $bold-font-family
	&-text
		font-size: .875rem
		line-height: 1.3
		text-align: center

	&-item2
		position: relative
		left:  62%
		width: 31%
		margin-left: 7%
	&-img
		&-wrap
			margin: 0 auto
			width: 361px
			height: 454px
			text-align: center
		&-text
			max-width: 72%
			margin: 17px auto 0
			&-title
				font: 1.125rem $black-font-family
				text-transform: uppercase
				text-align: center
			&-descr
				margin: 5px 0 0 0
				line-height: 1.5
				font-family: $medium-font-family
/* SECTION HOW STYLES END */


/* SECTION FEEDBACKS STYLES START */
.feedbacks
	padding: 40px 0
	position: relative
	&::before
		content: ''
		display: block
		width: 100%
		height: 77px
		position: absolute
		left: 0
		bottom: -28px
		background: url('../img/line.png') no-repeat 0 0
		z-index: 0

	&-title
		font: 2.875rem $black-font-family // 46/16
		text-align: center
		color: $sub-color
		text-transform: uppercase
	&-item
		width: 46%
		margin-bottom: 2rem
		&:nth-child(2n)
			margin-left: 7%
		&-img
			width: 131px
			height: 131px
			margin-top: 1.5rem
			overflow: hidden
			border-radius: 50%
			background-color: $accent-color
			display: flex
			align-items: center
			justify-content: center
		&-content
			width: 66%
			margin-left: 8%
			padding-top: .5rem
		&-title
			font: 1.125rem/1.5 $black-font-family
			color: #bbd04d
			text-transform: uppercase
		&-name
			margin-top: .9rem
			font: .875rem $black-font-family
			color: $sub-color
			text-transform: uppercase
		&-text
			margin-top: .6rem
			font: 0.9375rem $medium-font-family
			color: $sub-color
/* SECTION FEEDBACKS STYLES END */



/* FOOTER STYLES START */
.footer
	padding: 3.5rem 0
	text-align: center
	text-transform: uppercase
	&-info
		font: .75rem $medium-font-family
		color: #121212

.copy
	font: .75rem $black-font-family
	color: $sub-color
.company-data
	margin-bottom: .5rem
.company-address
	font-style: normal
/* FOOTER STYLES END */



/* Modal STYLES START */
.modal-wrap
	max-width: 480px
	margin: 0 auto
	background-color: #fff
	border-radius: 5px
	border: 3px solid $accent-color
.modal
	position: relative
	padding: 30px 20px 20px
	text-align: center
	text-transform: uppercase
	&-title
		font: 32px $black-font-family
	&-info
		font: 20px $bold-font-family
		&-num
			display: block
			padding: 5px 0
	&-text
		font: 16px $medium-font-family
		color: $sub-color
/* Modal STYLES END */




/*STYLES END*/

/* MEDIA STYLES START */
@import "media"
/* MEDIA STYLES END 